.container{
    /* background: -moz-radial-gradient(skyblue,white);  */
    padding-bottom: 15px;
}
main{
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}
/* ul{
    display: flex;
    margin: 10px;
    margin-right: 150px;
    text-decoration: none;  
    align-items: left;
    text-align: left;
    justify-content: left;
    justify-items: left;
}
li{
    text-decoration: none;
} */

.Search{
    width: 70%;
    padding: 5px 25px;
    /* background-color: black; */
    margin: 10px;
};
